{% extends 'layouts/promotional.twig' %}

{% block content %}
    <h2>Welcome</h2>

    {{ flash.error }}

    <p>Welcome to Patentsy AS. Our corporation is one of few to help you realize your dream becomming a founder!</p>

    <p>Patentsy AS web application is dessigned for easy delivery of patent applications. We can assure you that this is a safe way and our
    security is up to date. Don't let the past get you stuck with tons of paper back and fourth, use this innovated way for patent application.
    It will save you time and money!</p>

    <p>Before you can register a patent application and have a peek of other founders dream, you need to login to your account</p>
{% endblock %}
