{% extends 'layouts/promotional.twig' %}

{% block content %}
    <h2>Login</h2>

    {% if flash.error %}
        <div class="ui error message">
            {{ flash.error }}
        </div>
    {% endif %}

    {% if flash.success %}
        <div class="ui success message">
            {{ flash.success|raw }}
        </div>
    {% endif %}

    <form action="" method="post" class="ui form">
        <div class="field">
            <label>Username</label>
            <input type="text" name="user">
        </div>

        <div class="field">
            <label>Password</label>
            <input type="text" name="pass">
        </div>

        <input type="submit" name="submit" value="Log in" class="positive ui button">
    </form>
{% endblock %}
