{% extends 'layouts/promotional.twig' %}

{% block content %}
    <h2>New user</h2>

    {% if flash.error %}
        <div class="ui error message">
            {{ flash.error|raw }}
        </div>
    {% endif %}

    {% if flash.info %}
        <div class="ui warning message">
            {{ flash.info|raw }}
        </div>
    {% endif %}

    <form action="" method="post" class="ui form">
        <div class="field">
            <label>Username*</label>
            <input type="text" name="user" value="{{ username }}">
        </div>

        <div class="field">
            <label>Password*</label>
            <input type="password" name="pass">
        </div>

        <div class="field">
            <label>First name* (Not visible to others)</label>
            <input type="text" name="first_name">
        </div>

        <div class="field">
            <label>Last name* (Not visible to others)</label>
            <input type="text" name="last_name">
        </div>

        <div class="field">
            <label>Phone (Only eight digits please)</label>
            <input type="text" name="phone">
        </div>

        <div class="field">
            <label>Company</label>
            <input type="text" name="company">
        </div>

        <input type="submit" name="submit" value="Create new user" class="positive ui button">
    </form>
{% endblock %}
